<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arpitparekh.hardikbhagvatproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HardikBhagvatProject"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".gallery_recyclerView.ShowDataActivity"
            android:exported="false" />
        <activity
            android:name=".gallery_recyclerView.GalleryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recyclerView_adapter.EmpListActivity"
            android:exported="true"></activity>
        <activity
            android:name=".adapter.StudentListActivity"
            android:exported="true" />
        <activity
            android:name=".viewPager.MyPagerActivity"
            android:exported="true" />
        <activity
            android:name=".navigation_drawer.DrawerActivity"
            android:exported="true" />
        <activity
            android:name=".dialog.MyDialogActivity"
            android:exported="true" />
        <activity
            android:name=".menu.MyMenuActivity"
            android:exported="true" />
        <activity
            android:name=".widget_component.RadioActivity"
            android:exported="true" />
        <activity
            android:name=".widget_component.SeekBarActivity"
            android:exported="true" />
        <activity
            android:name=".widget_component.STCActivity"
            android:exported="true" />
        <activity
            android:name=".fragments.HolderActivity"
            android:exported="true" />
        <activity
            android:name=".cordinator_layput.MyCoActivity"
            android:exported="true" />
        <activity
            android:name=".viewBinding_dataBinding.MyActivity"
            android:exported="true" />
        <activity
            android:name=".passString_passObject_revision.TwoActivity"
            android:exported="false" />
        <activity
            android:name=".passString_passObject_revision.OneActivity"
            android:exported="true" />
        <activity
            android:name=".passString_passObject.GoaActivity"
            android:exported="false" />
        <activity
            android:name=".passString_passObject.MumbaiActivity"
            android:exported="true" />
        <activity
            android:name=".activity_switch.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".activity_switch.FirstActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>